{% extends 'base.html' %}

{% block head %}
<title>Not Found</title>
{% endblock head %}

{% block body %}
<h1>Oops! Page not found</h1>
<a href="/">Click here to return home :-)</a>
{% endblock body%}
