{% extends 'base.html' %}

{% block head %}
<title>Users</title>
{% endblock head %}

{% block body %}
    <br />
    <h1>Users</h1>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
            </tr>
        </thead>
        <tbody>
            {% for item in session.pop('matched_users', []) %}
                <tr>
                    <td>
                      {{ item[0] }}
                    </td>
                    <td>
                      {{ item[1] }}
                    </td>
                    <td>
                      {{ item[2] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body%}
